<div class="container">
   	<div class="row">
		<div class="jumbotron">
			<%= form_tag '/short_urls', method: :post, remote: true, class: 'form-inline' do %>
			<div class="form-group">
				<%= text_field_tag 'short_url[url]', nil, class: 'form-control', placeholder: 'Paste a url to shorten it' %>
			</div>
			<%= submit_tag 'Shorten', class: 'btn btn-primary' %>
			<% end %>
		</div>
	</div>
</div>